<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <h2 class="section-heading col-md-8 col-md-offset-2">Connecting the world of Fitness
                    <br />
                    <small>Discover the people around you who share your Activitis and Interests</small>
                  </h2>
                </div>
                <div class="row">
                    <h3 class="col-sm-3 big-links" href="#">Discover</h3>
                    <h3 class="col-sm-3 big-links" href="#">Connect</h3>
                    <h3 class="col-sm-3 big-links" href="#">Chat</h3>
                    <h3 class="col-sm-3 big-links" href="#">Get Active</h3>

                </div>
            </div>
        </div>
    </div>
</section>
