<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                  <h2 class="section-heading col-md-8 col-md-offset-2">Activus Connects You with local people around you who love doing the same activities</h2>
                </div>
                <div class="row">
                    <h3 class="col-sm-4 big-links" href="#"> =>Perfect Match</h3>
                    <h3 class="col-sm-4 big-links" href="#"> =>Location Based Search</h3>
                    <h3 class="col-sm-4 big-links" href="#"> =>Live Messaging</h3>

                </div>
            </div>
        </div>
    </div>
</section>
